/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-awesome-carousel .awesome-carousel-wrapper,
.wp-block-create-block-awesome-carousel .awesome-carousel-wrapper > * {
	aspect-ratio: 1200/800
}

.awesome-carousel-buttons {
	margin-top: 20px;
}

.awesome-carousel-buttons > * + * {
	margin-left: 20px;
}
